@font-face {
    font-family: 'integral-cf-bold';
    src: url(/PERSONAL/portfolio-website/FONTS/Fontspring-DEMO-integralcf-bold.otf);
}
@font-face {
    font-family: 'integral-cf-extraBold';
    src: url(/PERSONAL/portfolio-website/FONTS/Fontspring-DEMO-integralcf-extraboldoblique.otf);
}
@font-face {
    font-family: 'integral-cf-heavy';
    src: url(/PERSONAL/portfolio-website/FONTS/Fontspring-DEMO-integralcf-heavy.otf);
}

@font-face {
    font-family: 'fogie';
    src: url(/PERSONAL/portfolio-website/FONTS/Fogie-Regular.ttf);
}
@keyframes bandBujh {
    0%{
        opacity: .2;
    }
    40%{
        opacity: .7;
    }
    80%{
        opacity: .2;
    }
    100%{
        opacity: .2;
    }
}

@keyframes move {
    0%{
        left: 0;
        bottom: -20%;
    }
    100%{
        right: 0;
        top: -20%;
    }
}
html,body{
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    background-color: hsl(0, 0%, 13%);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
a{
    text-decoration: none;
}

#circles1{
    width: 45vw;
    height: 45vw;
    background-color: #520380;
    position: absolute;
    top: -25%;
    left: 15%;
    border-radius: 50%;
    filter: blur(250px);
    opacity: .5;
    z-index: -1;
    /* animation: bandBujh 8s ease-in-out 0s infinite forwards ; */
}
#circles2{
    width: 20vw;
    height: 20vw;
    background-color: #520380;
    position: absolute;
    bottom: -10%;
    right: -5%;
    border-radius: 50%;
    filter: blur(150px);
    opacity: .7;
    z-index: -1;
    /* animation: move 8s ease-in-out 0s infinite forwards ; */
}

.nav{
    position: relative;
    width: 100vw;
    height: 10vh;
    /* background-color: aliceblue; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

.nav #items1{
    background-image: url(/PERSONAL/portfolio-website/IMAGES/logo.png);
    width: 3vw;
    height: 3vw;
    background-size: cover;
    background-repeat:  no-repeat;
}

.nav #items2{
    display: flex;
    position: relative;
    width: 30vw;
    gap: 2vw;
    margin-right: 2vw;
    justify-content: flex-end;
    padding: 2vh;
}

.navButton{
    color: #F5CB5C;
    opacity: .5;
    transition: all .3s;
    font-family: fogie;
    letter-spacing: 1.5px;
    font-size: .9vw;
}

.navButton:hover{
    opacity: 1;
}

.foot{
    /* background-color: rgb(0, 57, 107); */
    z-index: 2;
    position: absolute;
    height: 15vh;
    width: 100vw;
    bottom: 2vh;
    left: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

#footItem1{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    gap: 1vh;
    /* background-color: aqua; */
    margin-left: 2vw;
}

#footItem1 a{
    text-decoration: none;
    color: white;
    opacity: .5;
    transition: all .2s;
}
#footItem1 a:hover{
    opacity: 1;
}
#footItem2{
    margin-right: 2vw;
}
#footItem2 pre{
    white-space: pre-line;
    transform: rotate(270deg);
    opacity: .3;
    font-family: fogie;
    font-size: .7vw;
    letter-spacing: 1px;
}