@font-face {
    font-family: 'fogie';
    src: url(/PERSONAL/portfolio-website/FONTS/Fogie-Regular.ttf);
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'fogie';
    src: url(/PERSONAL/portfolio-website/FONTS/Fogie-Regular.ttf);
}

html{
    box-sizing: border-box;
}
.mid{
    display: flex;
    gap: 15vw;
}
.heading{
    height: 30vh;
    width: 100vw;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 4vw;
}

.heading .ht{
    font-size: 6vw;
    font-family: fogie;
    margin: 0;
    color: white;
}

.heading #heading2{
    margin-left: 20vw;
    opacity: .3;
}

.form{
    width: 50vw;
    height: 50vh;
    /* background-color: aliceblue; */
}

.form .buttons{
    width: 70%;
    height: 25%;
    /* background-color: aqua; */
    padding-left: 4vw;
    /* padding-top: 2vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2vh;
}
.form .buttons #text{
    color: #6a6a6a;
    font-family: "Roboto", sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
    font-style: normal;
    border-radius: 5px;
}
.form .buttons .btn{
    width: 90%;
    display: flex;
    gap: .5vw;
}

.form .buttons .btn button{
    padding: .5vh 3vh;
    background-color: #00000000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 5px;
    border: 2px dashed #535353;
    color: #6a6a6a;
    font-size: .9vw;
}
.form .buttons .btn button:hover{
    border: 2px solid #535353;
}
.inputs{
    margin-left: 4vw;
    margin-top: 3vh;
}
.inputs input{
    background-color: #00000000;
    border: none;
    border-bottom: 2px solid #535353;
    padding:.7vh;
    width: 30%;
    margin-right: 2vw;
    margin-bottom: 2vw;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    font-size: .9vw;
    
}

.form #submit{
    margin-left: 4vw;
    margin-top: 5vh;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #00000000;
    border: none;
    color: #8a8a8a;
    font-size: 1.2vw;
}
.para{
    display: flex;
    flex-direction: column;
}
.para #text1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8a8a8a;
    margin-top: 2.5vw;
    opacity: .5;
}
.para #text2{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #8a8a8a;
    white-space: pre-line;
    font-size: .8vw;
    opacity: .5;
}

html,body{
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    background-color: hsl(0, 0%, 13%);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
a{
    text-decoration: none;
}

#circles1{
    width: 45vw;
    height: 45vw;
    background-color: #520380;
    position: absolute;
    top: -25%;
    left: 15%;
    border-radius: 50%;
    filter: blur(250px);
    opacity: .5;
    z-index: -1;
    /* animation: bandBujh 8s ease-in-out 0s infinite forwards ; */
}
#circles2{
    width: 20vw;
    height: 20vw;
    background-color: #520380;
    position: absolute;
    bottom: -10%;
    right: -5%;
    border-radius: 50%;
    filter: blur(150px);
    opacity: .7;
    z-index: -1;
    /* animation: move 8s ease-in-out 0s infinite forwards ; */
}

.nav{
    position: relative;
    width: 100vw;
    height: 10vh;
    /* background-color: aliceblue; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

.nav #items1{
    background-image: url(/PERSONAL/portfolio-website/IMAGES/logo.png);
    width: 3vw;
    height: 3vw;
    background-size: cover;
    background-repeat:  no-repeat;
}

.nav #items2{
    display: flex;
    position: relative;
    width: 30vw;
    gap: 2vw;
    margin-right: 2vw;
    justify-content: flex-end;
    padding: 2vh;
}

.navButton{
    color: #F5CB5C;
    opacity: .5;
    transition: all .3s;
    font-family: fogie;
    letter-spacing: 1.5px;
    font-size: .9vw;
}

.navButton:hover{
    opacity: 1;
}


#footItem1{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    gap: 1vh;
    /* background-color: aqua; */
    margin-top: 1vw;
}

#footItem1 a{
    text-decoration: none;
    color: white;
    opacity: .5;
    transition: all .2s;
}
#footItem1 a:hover{
    opacity: 1;
}
#footItem2{
    position: absolute;
    margin-right: 2vw;
    right: 0;
}
#footItem2 pre{
    white-space: pre-line;
    transform: rotate(270deg);
    opacity: .3;
    font-family: fogie;
    font-size: .7vw;
    letter-spacing: 1px;
    color: white;
}
